{% extends 'medcin/base_backMedcin.html.twig' %}

{# templates/profile/index.html.twig #}

{% block title %} Profile {% endblock %}

{% block body %}
   <style>
     .container {
         padding-top: 120px;
     }  
   </style>
    
    <div class="container">

    <div class="profile d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <img src="{{ asset(utilisateur.imgUrl) }}" alt="Avatar" class="rounded-circle" width="250">
                <div class="ms-3">
                    <h2>{{ utilisateur.nom }} {{ utilisateur.prenom }}</h2>
                    <p><strong>Rôle:</strong> {{ utilisateur.role }}</p>
                </div>
            </div>
            <img src="{{ path('app_utilisateur_generate_user_qr', {'id': utilisateur.id}) }}" alt="QR Code" width="150" height="150" class="ms-4">
        </div>

        <div class="details">
            <table class="table table-bordered">
                <tbody>
                    <tr><th>Email</th><td>{{ utilisateur.email }}</td></tr>
                    <tr><th>Sexe</th><td>{{ utilisateur.sexe }}</td></tr>
                    <tr><th>Adresse</th><td>{{ utilisateur.adresse }}</td></tr>
                    <tr><th>Téléphone</th><td>{{ utilisateur.telephone }}</td></tr>
                </tbody>
            </table>
            
            <div class="d-flex gap-2">
               <form method="post" action="{{ path('admin_edit', {'id': utilisateur.id}) }}" class="flex-fill">
                  <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ utilisateur.id) }}">
                  <button type="submit" class="btn btn-primary w-100">Modifier</button>
               </form>

               <form method="post" action="{{ path('admin_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer votre Compte ?');" class="flex-fill">
                  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                  <button type="submit" class="btn btn-danger w-100">Supprimer</button>
               </form>
            </div>

        </div>
    </div>
    
{% endblock %}
