{% extends 'medcin/base_backMedcin.html.twig' %}

{% block title %}Consultation index{% endblock %}

{% block body %}
    <h1>Consultation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomPatient</th>
                <th>DateConsultation</th>
                <th>Diagnostic</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultation in consultations %}
            <tr>
                <td>{{ consultation.id }}</td>
                <td>{{ consultation.nomPatient }}</td>
                <td>{{ consultation.dateConsultation ? consultation.dateConsultation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ consultation.diagnostic }}</td>
                <td>
     <a href="{{ path('app_consultation_show', {'id': consultation.id}) }}">show</a> 
    <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}">edit</a>

      <form method="post" action="{{ path('app_consultation_delete', { 'id': consultation.id }) }}" onsubmit="return confirm('Are you sure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consultation.id) }}">
              <button class="btn btn-danger btn-sm">
                 <i class="fa fa-trash"></i> Delete
             </button>
      </form>

    <a href="{{ path('app_reclamation_new2', {'consultationId': consultation.id}) }}" class="btn btn-warning btn-sm">
        Make Reclamation
    </a>
</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_consultation_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
