{% extends 'base.html.twig' %}

{% block title %}Diagnostic - Paramètres Vitaux{% endblock %}

{% block body %}
<style>
    .filter-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    }

    .filter-container .form-control {
        flex: 1;
        min-width: 120px;
    }

    .form-button, .reset-button {
        color: white;
        border: none;
        padding: 12px 20px;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .form-button {
        background-color: #28a745;
    }

    .form-button:hover {
        background-color: #218838;
    }

    .reset-button {
        background-color: #dc3545;
    }

    .reset-button:hover {
        background-color: #c82333;
    }

    .container {
        margin: 3em auto;
        max-width: 900px;
        width: 90%;
        font: 18px/1.5 sans-serif;
        padding: 20px;
        background: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .form-container {
        background-color: #ffffff;
        border-radius: 8px;
        padding: 30px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .form-container h2 {
        text-align: center;
        color: rgb(15, 0, 149);
        margin-bottom: 20px;
    }

    .form-row {
        margin-bottom: 10px;
    }

    .form-label {
        font-weight: bold;
        color: #333;
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 100%;
        margin-top: 5px;
        font-size: 16px;
    }

    .alert {
        margin-top: 20px;
        padding: 10px;
        background-color: #d4edda;
        color: #155724;
        border-radius: 5px;
    }

    #loadingModal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 100px;
    }

    #modalContent {
        background-color: #fefefe;
        margin: 0 auto;
        padding: 20px;
        border-radius: 8px;
        width: 60%;
        text-align: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 768px) {
        .form-group {
            flex-direction: column;
        }

        .form-group .form-control {
            width: 100%;
        }
    }

    .text-danger {
        color: #e74c3c;
        font-size: 14px;
        margin-top: 5px;
    }
</style>
<div style="height: 120px;"></div>
<div class="container">

    {% for message in app.flashes('success') %}
        <div class="alert">{{ message }}</div>
    {% endfor %}

    <div class="form-container">
        <h2>Faire un diagnostic préliminaire</h2>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                    {% if form.name.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {{ form_errors(form.name) }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(form.age) }}
                    {{ form_widget(form.age, {'attr': {'class': 'form-control', 'required': 'required', 'min': '0', 'max': '150'}}) }}
                    {% if form.age.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {{ form_errors(form.age) }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(form.fc) }}
                    {{ form_widget(form.fc, {'attr': {'class': 'form-control', 'required': 'required', 'min': '0', 'max': '200'}}) }}
                    {% if form.fc.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {{ form_errors(form.fc) }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(form.fr) }}
                    {{ form_widget(form.fr, {'attr': {'class': 'form-control', 'required': 'required', 'min': '0', 'max': '200'}}) }}
                    {% if form.fr.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {{ form_errors(form.fr) }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(form.ecg) }}
                    {{ form_widget(form.ecg, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                    {% if form.ecg.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {{ form_errors(form.ecg) }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(form.gad) }}
                    {{ form_widget(form.gad, {'attr': {'class': 'form-control', 'required': 'required', 'min': '0', 'max': '5'}}) }}
                    {% if form.gad.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {{ form_errors(form.gad) }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(form.tas) }}
                    {{ form_widget(form.tas, {'attr': {'class': 'form-control', 'required': 'required', 'min': '0', 'max': '300'}}) }}
                    {% if form.tas.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {{ form_errors(form.tas) }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(form.tad) }}
                    {{ form_widget(form.tad, {'attr': {'class': 'form-control', 'required': 'required', 'min': '0', 'max': '300'}}) }}
                    {% if form.tad.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {{ form_errors(form.tad) }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(form.spo2) }}
                    {{ form_widget(form.spo2, {'attr': {'class': 'form-control', 'required': 'required', 'min': '0', 'max': '100'}}) }}
                    {% if form.spo2.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {{ form_errors(form.spo2) }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(form.gsc) }}
                    {{ form_widget(form.gsc, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                    {% if form.gsc.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {{ form_errors(form.gsc) }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <button class="form-button" type="submit">Soumettre le Diagnostic</button>
            <!-- Hidden button for opening the chatbot modal -->
            <button id="openChatbotBtn" style="display: none;" data-toggle="modal" data-target="#chatbotModal">Open Chatbot</button>

        {{ form_end(form) }}
    </div>
</div>


<!-- Pie Chart Container -->
<div class="form-container">
<div class="chart-container">
        <h2>Suivi des paramétres Vitaux</h2>
        <button id="toggleChartButton" class="form-button" type="button">Afficher/Cacher le Graphique</button>
        <div id="chartContainer" style="display: none;">
            <canvas id="vitalChart"></canvas>
        </div>
    </div>
</div>

<div class="form-container">
    <h2>Historique des diagnostics</h2>

    <form method="GET" action="{{ path('app_diagnostic_page') }}" class="filter-container">
    <input type="text" name="name" id="filterName" class="form-control" placeholder="Nom" value="{{ app.request.query.get('name') }}">
    <input type="number" name="age" id="filterAge" class="form-control" placeholder="Âge" value="{{ app.request.query.get('age') }}">
    <input type="number" name="fc" id="filterFc" class="form-control" placeholder="FC" value="{{ app.request.query.get('fc') }}">
    <input type="number" name="fr" id="filterFr" class="form-control" placeholder="FR" value="{{ app.request.query.get('fr') }}">
    <input type="number" name="ecg" id="filterEcg" class="form-control" placeholder="ECG" value="{{ app.request.query.get('ecg') }}">
    <input type="number" name="gad" id="filterGad" class="form-control" placeholder="GAD" value="{{ app.request.query.get('gad') }}">
    <input type="number" name="tas" id="filterTas" class="form-control" placeholder="TAS" value="{{ app.request.query.get('tas') }}">
    <input type="number" name="tad" id="filterTad" class="form-control" placeholder="TAD" value="{{ app.request.query.get('tad') }}">
    <input type="number" name="spo2" id="filterSpo2" class="form-control" placeholder="SPO2" value="{{ app.request.query.get('spo2') }}">
    <input type="number" name="gsc" id="filterGsc" class="form-control" placeholder="GSC" value="{{ app.request.query.get('gsc') }}">
    <input type="date" name="date" id="filterDate" class="form-control" value="{{ app.request.query.get('date') }}">
    <button class="form-button" type="submit">Filtrer</button>
    <a href="{{ path('app_diagnostic_page') }}" class="reset-button">Réinitialiser</a>
</form>

    {% if parametres_viteauxes is not empty %}
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Âge</th>
            <th>FC</th>
            <th>FR</th>
            <th>ECG</th>
            <th>GAD</th>
            <th>TAS</th>
            <th>TAD</th>
            <th>SPO2</th>
            <th>GSC</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {% for parametre in parametres_viteauxes %}
        {% if parametre.user == app.user %}
            <tr>
                <td>{{ parametre.name }}</td>
                <td>{{ parametre.age }}</td>
                <td class="{{ parametre.fc < 60 or parametre.fc > 100 ? 'text-danger' : '' }}">{{ parametre.fc }}</td>
                <td class="{{ parametre.fr < 12 or parametre.fr > 25 ? 'text-danger' : '' }}">{{ parametre.fr }}</td>
                <td>{{ parametre.ecg }}</td>
                <td>{{ parametre.gad is not null ? parametre.gad|number_format(2, '.', ',') : 'N/A' }}</td>
                <td class="{{ parametre.tas < 90 or parametre.tas > 140 ? 'text-danger' : '' }}">{{ parametre.tas }}</td>
                <td class="{{ parametre.tad < 60 or parametre.tad > 90 ? 'text-danger' : '' }}">{{ parametre.tad }}</td>
                <td class="{{ parametre.spo2 < 95 ? 'text-danger' : '' }}">{{ parametre.spo2 }}</td>
                <td>{{ parametre.gsc }}</td>
                <td>{{ parametre.createdAt ? parametre.createdAt|date('Y-m-d H:i') : 'N/A' }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Aucune donnée disponible</p>
{% endif %}

</div>


<!-- Loading Modal -->
<div id="loadingModal">
    <div id="modalContent">
        <h3>S'il vous plaît attendez, analyse des données...</h3>
    </div>
</div>

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Chart toggle functionality
            const chartContainer = document.getElementById("chartContainer");
            const toggleChartButton = document.getElementById("toggleChartButton");
            
            toggleChartButton.addEventListener("click", function () {
                chartContainer.style.display = chartContainer.style.display === "none" ? "block" : "none";
            });

            // Prepare chart data from the array of vital parameters
            const vitalData = {
    labels: [{% for param in parametres_viteauxes %}'{{ param.createdAt|date('Y-m-d H:i') }}',{% endfor %}],
    datasets: [
        {
            label: 'FC (bpm)',
            data: [{% for param in parametres_viteauxes %}{{ param.fc|default('null') }},{% endfor %}],
            backgroundColor: 'rgba(255, 99, 132, 0.6)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
        },
        {
            label: 'TAS (mmHg)',
            data: [{% for param in parametres_viteauxes %}{{ param.tas|default('null') }},{% endfor %}],
            backgroundColor: 'rgba(54, 162, 235, 0.6)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        },
        {
            label: 'SPO2 (%)',
            data: [{% for param in parametres_viteauxes %}{{ param.spo2|default('null') }},{% endfor %}],
            backgroundColor: 'rgba(75, 192, 192, 0.6)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        },
        {
            label: 'FR (bpm)',
            data: [{% for param in parametres_viteauxes %}{{ param.fr|default('null') }},{% endfor %}],
            backgroundColor: 'rgba(153, 102, 255, 0.6)',
            borderColor: 'rgba(153, 102, 255, 1)',
            borderWidth: 1
        },
        {
            label: 'ECG',
            data: [{% for param in parametres_viteauxes %}{{ param.ecg|default('null') }},{% endfor %}],
            backgroundColor: 'rgba(255, 159, 64, 0.6)',
            borderColor: 'rgba(255, 159, 64, 1)',
            borderWidth: 1
        },
        {
            label: 'GAD',
            data: [{% for param in parametres_viteauxes %}{{ param.gad|default('null') }},{% endfor %}],
            backgroundColor: 'rgba(255, 205, 86, 0.6)',
            borderColor: 'rgba(255, 205, 86, 1)',
            borderWidth: 1
        },
        {
            label: 'TAD (mmHg)',
            data: [{% for param in parametres_viteauxes %}{{ param.tad|default('null') }},{% endfor %}],
            backgroundColor: 'rgba(255, 99, 132, 0.6)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
        },
        {
            label: 'GSC',
            data: [{% for param in parametres_viteauxes %}{{ param.gsc|default('null') }},{% endfor %}],
            backgroundColor: 'rgba(75, 192, 192, 0.6)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }
    ]
};


            // Render the chart
            const ctx = document.getElementById('vitalChart').getContext('2d');
            new Chart(ctx, {
                type: 'line',  // Changed to line chart for better historical data visualization
                data: vitalData,
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Valeurs'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top'
                        }
                    }
                }
            });

            // Loading modal on form submission
            document.querySelector("form").addEventListener("submit", function(event) {
                event.preventDefault();
                document.getElementById("loadingModal").style.display = "block";
                setTimeout(function() {
                    event.target.submit();
                }, 2000);
            });
        });
    </script>
{% endblock %}

{% endblock %}