{% extends 'admin/base_back.html.twig' %}

{% block title %}Liste des Paramètres Vitaux{% endblock %}

{% block body %}
    <h1>Liste des Paramètres Vitaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Fc</th>
                <th>Fr</th>
                <th>Ecg</th>
                <th>TAS</th>
                <th>TAD</th>
                <th>Âge</th>
                <th>Spo2</th>
                <th>Gsc</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parametres_viteaux in parametres_viteauxes %}
            <tr>
                <td>{{ parametres_viteaux.id }}</td>
                <td>{{ parametres_viteaux.name }}</td>
                <td>{{ parametres_viteaux.fc }}</td>
                <td>{{ parametres_viteaux.fr }}</td>
                <td>{{ parametres_viteaux.ecg }}</td>
                <td>{{ parametres_viteaux.TAS }}</td>
                <td>{{ parametres_viteaux.TAD }}</td>
                <td>{{ parametres_viteaux.age }}</td>
                <td>{{ parametres_viteaux.spo2 }}</td>
                <td>{{ parametres_viteaux.gsc }}</td>
                <td>
                    <a href="{{ path('app_parametres_viteaux_show', {'id': parametres_viteaux.id}) }}" class="btn btn-info">Afficher</a>
                    <a href="{{ path('app_parametres_viteaux_edit', {'id': parametres_viteaux.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11" class="text-center">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-3">
        <a href="{{ path('app_parametres_viteaux_new') }}" class="btn btn-success">Créer un nouveau</a>
    </div>
{% endblock %}
