
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
   
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/global.css') }}" rel="stylesheet">
        <link href="{{ asset('css/index.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('back/compagne/adminCompagne.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    {% endblock %}

    <div class="main clearfix position-relative">
    <div class="main_1 clearfix position-absolute top-0 w-100">
        <section id="header">
        <style>
        #navbar_sticky {
    background-color: #004080 !important; /* Bleu foncé */
}
/* Adjust navbar */
#navbar_sticky {
    padding-left: 10px;
    padding-right: 180px;
}

/* Adjust navbar elements spacing */
.navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    white-space: nowrap; /* Empêche le retour à la ligne */
}


#navbar_sticky {
    height: 90px; /* Ajustez cette valeur selon vos besoins */
}
        </style>
        </section>
    </div>
</head>

    <div class="main clearfix position-relative">
    <div class="main_1 clearfix position-absolute top-0 w-100">
        <section id="header">
            <nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
                <div class="container-xl">
                    <a class="navbar-brand p-0 fw-bold text-white" href="{{ path('app_home') }}">
                        <i class="fa fa-stethoscope me-1 col_blue"></i> BRIGHT <span class="fw-normal">Mind</span><br>
                        <span class="font_14 fw-normal span_1">Médecine Familiale</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-0 ms-auto">

                            <li class="nav-item"><a class="nav-link active" href="{{ path('app_home') }}">Accueil</a></li>
                            {% if app.user %}
                                 <li class="nav-item"><a class="nav-link" href="{{ path('app_service_public') }}">Services</a></li>
                                 <li class="nav-item"><a class="nav-link" href="{{ path('app_diagnostic_page') }}">Diagnostic</a></li>
                            {% endif %}
                            
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_medic') }}">Medicament</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('compagne_public') }}">Compagne</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_consultation_index2') }}">Submit a Ticket</a></li>
<li class="nav-item dropdown">
    {% if app.user %}
        <a class="nav-link active dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ asset(app.user.imgUrl) }}" alt="Avatar" class="rounded-circle me-2" width="40" height="40">
            <span><i class="fa fa-user"></i> {{ app.user.nom }} {{ app.user.prenom }}</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ path('app_profile') }}">Mon Profil</a></li>
            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
        </ul>
    {% else %}
        <a class="nav-link active" href="{{ path('app_login') }}">
            <i class="fa fa-user"></i> Se connecter
        </a>
        <div class="text-center">
            <a href="{{ path('app_utilisateur_new') }}" class="link">S'inscrire</a>
        </div>
    {% endif %}
</li>

                            <li class="nav-item dropdown">
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
    </div>
</head>

<body>
    {% block body %}
       
    {% endblock %}
     {% block js %}
       <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
       <script src="{{ asset('bundles/fosckeditor/ckeditor.js') }}"></script>
       <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    {% endblock %}
</body>    
<section id="touch" class="p-2 bg_dark">
    <div class="container-xl">
        <div class="touch_1 row">
            <div class="col-md-6">
                <div class="touch_1l">
                    <h5 class="fw-normal space_5 dashline text-white-50">CONTACTEZ-NOUS</h5>
                    <h2 class="mt-2 font_40 text-white">Prenez Contact</h2>
                    <div class="touch_1li row">
                        <div class="col-md-2 col-sm-2">
                            <span class="d-inline-block text-center text-white fs-4"><i class="fa fa-map-marker"></i></span>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <p class="fs-6 text-light mb-0">
                                <span class="fw-bold">123 BrightMind, Ariana</span><br>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="touch_1li row">
                        <div class="col-md-2 col-sm-2">
                            <span class="d-inline-block text-center text-white fs-4"><i class="fa fa-phone"></i></span>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <p class="fs-6 text-light mb-0">
                                <span class="fw-bold"> +(216) 96333585</span>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="touch_1li row">
                        <div class="col-md-2 col-sm-2">
                            <span class="d-inline-block text-center text-white fs-4"><i class="fa fa-envelope"></i></span>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <p class="fs-6 text-light mb-0">
                                <span class="fw-bold"> BrightMind@gmail.com</span><br>
                            </p>
                        </div>
                    </div>
                    <h6 class="mb-2 mt-3"><a class="button" href="#">Contactez-nous <i class="fa fa-caret-right ms-1 col_blue align-top"></i></a></h6>
                    {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-3" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <!-- Subscription Button Form -->
                    {% if app.user %}
                        <form action="{{ path('mailchimp_subscribe') }}" method="POST" class="mt-3">
                            <input type="hidden" name="email" value="{{ app.user.email }}">
                            <input type="hidden" name="firstName" value="{{ app.user.prenom ?? '' }}">
                            <input type="hidden" name="lastName" value="{{ app.user.nom ?? '' }}">
                            <input type="hidden" name="status_if_new" value="subscribed">
                            <button type="submit" class="btn btn-primary">Abonnez-vous à la newsletter</button>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="touch_1r">
                    <iframe src="https://www.google.com/maps/embed?..." height="300" style="border:0; width:100%;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

   
</html>

