{% extends 'admin/base_back.html.twig' %}


{% block title %}Fournisseur{% endblock %}

{% block body %}
    <h1>Fournisseur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fournisseur.id }}</td>
            </tr>
            <tr>
                <th>NomFournisseur</th>
                <td>{{ fournisseur.NomFournisseur }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ fournisseur.Adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ fournisseur.Telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ fournisseur.Email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fournisseur_index') }}">back to list</a>

    <a href="{{ path('app_fournisseur_edit', {'id': fournisseur.id}) }}">edit</a>

    {{ include('fournisseur/_delete_form.html.twig') }}
{% endblock %}
