{% extends 'admin/base_back.html.twig' %}

{% block title %}ServiceMed index{% endblock %}

{% block body %}
    <h1>ServiceMed</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom Service</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for service_med in service_meds %}
                <tr>
                    <td>{{ service_med.id }}</td>
                    <td>{{ service_med.nomService }}</td>
                    <td>{{ service_med.descriptionMed }}</td>
                    <td>
                        <a href="{{ path('app_service_med_edit', {'id': service_med.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('app_service_med_delete', {'id': service_med.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_med_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
